<section class="signup__page">
  <h2 class="signup__page--form-header">Sign Up.</h2>
    <p class="signup__page--form-paragraph">Welcome, </p>
    <p class="signup__page--form-paragraph signup__page--form-paragraph--italic">Sign up to continue</p>
  <form class="signup__page--form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="13px" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="email@example.com"
        ngModel name="email"
        email
        required>
      <mat-error>Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="password"
        autocomplete="off"
        ngModel
        name="password"
        required
        minlength="8"
        [(ngModel)]="password">
      <mat-hint *ngIf="password?.length < 8">Password should be at least 8 characters long</mat-hint>
      <mat-hint *ngIf="password?.length > 0" align="end" >{{ password?.length }} / 8</mat-hint>
      <mat-error>Password should be at least 8 characters long ({{ password?.length || 0 }}/8)</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose your DOB</mat-label>
      <input required matInput placeholder="Your Birthdate" [matDatepicker]="picker" [max]="maxDate" [(ngModel)]="dob" name="dob">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox [(ngModel)]="terms" color="primary" required name="terms">Agree to Terms and Conditions</mat-checkbox>
    </section>
    <button class="signup__page--form-button" [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Create Account</button>
  </form>
</section>
