<mat-toolbar color="accent">
  <div fxHide.sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxHide.xs><mat-icon class="header__icon" routerLink="/">directions_bike</mat-icon></div>
  <div class="header__logo" fxShow.xs>
    <mat-icon class="header__logo--icon">directions_bike</mat-icon>
    <h2 routerLink="/" class="sidenav__header" (click)="onToggleSidenav()">
      Fitness APP
    </h2>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul>
      <li *ngIf="!isAuth" class="header__list">
        <a class="header__link" href="/signup">Signup</a>
      </li>
      <li *ngIf="isAuth" class="header__list">
        <a class="header__link" href="/training">Training</a>
      </li>
      <li *ngIf="!isAuth"  class="header__list">
        <a class="header__link" href="/login">Login</a>
      </li>
      <li *ngIf="isAuth" class="header__list">
        <a class="header__link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
