.login__page {
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
  height: 90vh;
  background: linear-gradient(174deg, hsla(262, 52%, 47%, 1) 0%, hsla(196, 68%, 38%, 1) 100%);
  background-position: center -5%;
  background-size: 150%;
  &--form{
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 2rem 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    &-button {
      margin-top: 2rem;
      width: 80%;
    }
    &-header {
      letter-spacing: 1.5px;
      color: #fff;
      padding: 40% 0 0 3rem;
      text-align: left;
      margin-bottom: 2rem;
      width: 100%;
      font-size: 4rem;
      font-weight: 900;
    }
    &-paragraph {
      margin-left: 3rem;
      margin-top: 3rem;
      font-size: 2rem;
      color: #fff;
      font-weight: 300;
      &--italic {
        font-style: italic;
        margin-top: 0;
        font-size: 1rem;
      }
    }
  }
}
mat-form-field {
  width: 80%;
}

