.sidenav {
  &__header {
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #673AB7;
    color: #fff;
    font-family: 'M PLUS 1 Code', sans-serif;
    margin-bottom: 0;
    &--icon {
      margin-right: 0.5rem;
    }
  }
  &__selection {
    padding: 0;
  }
  &__list{
    height: 3.5rem !important;
    &--span {
      display: flex;
      align-items: center;
    }
    &--icon {
      margin-right: 1rem;
    }
  }
}

